:root {
	--dark-blue: #000888;
	--blue: #007bfc;
	--middle-blue: #64b6fa;
	--light-blue: #c9e4ff;
	--yellow: #efba1c;
	--red: #f4364c;

	--dark: #4b4b4b;
	--cool-gray: #505c74;
	--gray: #7b7b7b;
	--middle-gray: #aeb3bf;
	--light-gray: #bdbdbd;
	--white: #fefefe;
}
